<section id="HOME"><p>Solo is a <em>one page website</em>.</p>
<p>Its single HTML file provides a fully functionnal standalone website.</p>
<p>However, a collection of those <em>websites</em> can be gathered inside a unique domain.</p>
<hr>
<h2><a href="index.html#Links">Solo websites</a></h2>
<footer>
<ul>
<li><a href="https://github.com/octoxalis/soloFrame">Github Solo repository</a></li>
<li>Solo is built with the smart <a href="https://www.11ty.dev/">Eleventy</a> static site generator</li>
<li>The CSS stylesheets are based on the cute work by <a href="https://github.com/cadars/john-doe">Gregory Cadars</a></li>
<li>Markdown files according to Victor Grishchenko <a href="http://doc.replicated.cc/%5EWiki/strictmark.sm">StrictMarkdown</a></li>
</ul>
</footer>
</section>
