/*=== BORDER ===*/

iframe,
button,
.unseen,
__                     {border:0}

/*
#initial_hero li,
__                     {border-top:2px solid transparent;
                        border-image:linear-gradient(to right, hsla( var(--hue_base) 94% 94% / .3 ) 0%, hsla( var(--hue_base) 83% 6% / 0 ) 100%);
                        border-image-slice:1}
*/

*::-webkit-scrollbar-thumb,
__                     {border:{{C_o.BORDER_1}} solid var(--c_decor_ne)}



/*=== RADIUS ===*/
*::-webkit-scrollbar-thumb,
__                     {border-radius:.5rem}




/*=== STROKE ===*/
#svg_logo,
__                     {stroke-width:1.5px}


/*=== OUTLINE ===*/
button:focus,
__                     {outline:0}

