/*=== DECORATION ===*/
                                      
button,
select,
__                     {text-transform:none}



/*=== WHITE-SPACE ===*/

.unseen,
__                     {white-space:nowrap}



.truncate::after,
__                     {content:"";
                        position:absolute;
                        inset-inline-end:0;/* right */
                        width:var(--truncate_n); /* local var */
                        height:1em;
                        background:var(--truncate_c)}



/*=== LIST-STYLE ===*/

dl,
ol:not([class="i_code"]),
ul,
__                     {list-style:none}



/*=== CURSOR ===*/

body,
__                     {cursor:default}

.invisible,
__                     {cursor:auto}

button,
.svg_icon,
/*.svg_logo,*/
#initial,
__                     {cursor:pointer}



/*=== SHADOW ===*/

/*
hr,
__                     {box-shadow:{{C_o.BOX_SHADOW}}}
*/



/* === SCROLLBAR === */

*,
__                     {scrollbar-width:thin;scrollbar-color:var(--c_decor_hi) var(--c_decor_ne)}

*::-webkit-scrollbar,
__                     {width:.75em}

*::-webkit-scrollbar-track,
__                     {background:var(--c_decor_ne)}

*::-webkit-scrollbar-thumb,
__                     {background-color:var(--c_decor_hi);border:.2em solid var(--c_decor_ne);border-radius:   .5em}

