/*=== FONT ===*/

:root
{
  --font_size:calc( ({{C_o.BASE_U_n * C_o.BASE_MIN_n}} * 1px)
                     + ( {{C_o.BASE_U_n * C_o.BASE_MIN_n * 2}} - {{C_o.BASE_U_n * C_o.BASE_MIN_n}} )
                     * ( 100vw - ({{C_o.SCREEN_MAX_n}} * 1px) )
                     / ( {{C_o.SCREEN_MAX_n}} - {{C_o.SCREEN_MIN_n}} )
                   );
  --font_u:calc( var(--font_size) * 1 ); /* font unit - can be adjusted */

  --font_body:  {{C_o.FONT_BODY}};
  --font_title: {{C_o.FONT_BODY}};
  --font_mono:  {{C_o.FONT_MONO}};
}



/*=== FAMILY ===*/

body,
body *,
__                     {font-family:var(--font_body)}



/*=== SIZE ===*/

body,
body *,
body *:before,
body *:after,
__                     {font-size:calc( var(--font_u)  * var(--size_ratio) )}

#initial_hero li > *,
__                     {--size_ratio:2}
#initial_hero li > b,
__                     {--size_ratio:6}

#initial_logo b,
__                     {--size_ratio:1.9}


/*
#initial_hero li:nth-of-type(2) > *,
__                     {--size_ratio:1.5}

#initial_hero li:nth-of-type(1) > *,
__                     {--size_ratio:1.3}
*/

body,
body *,
__                     {--size_ratio:1}


.svg_logo text,
__                     {font-size:6px}  /*!!! fixed pixel size for SVG */




/*=== WEIGHT ===*/

body,
body *,
__                     {font-weight:400}

article strong,
article strong > b,
#initial b,
__                     {font-weight:600}


/*=== STYLE ===*/

{{C_o.MARK_DATA_TAG}}[data-tag],
#initial i,
__                     {font-style:normal}


/*=== HEIGHT ===*/



/*=== SPACING ===*/

#initial b,
__                     {letter-spacing:.8vw}


