/*
Accept-Charset: utf-8
# Comment out the following line if NOT using Service-Worker-Allowed rule
Service-Worker-Allowed: /
X-Content-Type-Options: nosniff
Referrer-Policy: same-origin
Feature-Policy: fullscreen 'self';midi 'self';sync-xhr 'self';microphone 'self';camera 'self';magnetometer 'self';gyroscope 'self';
X-Frame-Options: SAMEORIGIN
X-XSS-Protection: 1;mode=block
Timing-Allow-Origin: "{{ U_o.url_s }}"
